python-dotenv
ipykernel
pandas
numexpr

langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain_huggingface
langchain_chroma

chromadb
faiss-cpu
duckdb
sentence_transformers
huggingface_hub

pypdf
pymupdf
unstructured

arxiv
bs4
wikipedia
youtube_transcript_api
pytube
duckduckgo_search==5.3.1b1

mysql-connector-python
SQLAlchemy

validators==0.28.1
youtube-transcript-api
yt-dlp

playwright
